# Byte-code files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
.venv/
env/
venv/

# Environment variables and secrets
.env
.env.*
!.env.example

.flaskenv

# Database files
*.sqlite3
*.db
*.db-journal

# IDE-specific files
.idea/
.vscode/
*.swp
*.bak
*.swo

# Build artifacts
dist/
build/
*.egg-info/

# Logs and temporary files
*.log
tmp/
logs/*
!logs/__init__.py

#cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

.coverage


.github/*
!/.github/workflows/


.digital-ocean
